body {
    background-color: #fff;
    color: #333;
    margin: 0;
    font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
  }

  img {
      max-width: 100%;
      display: block;
  }
  
  .logo {
    font-size: 200%;
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 980px;
  }

  .grid {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 980px;
    display: grid; /* Setting the grid, and then columns and rows that I want */
    grid-template-columns: 3fr 1fr; /* I want my blog post to be 3 "units" and my photos to be 1 unit. That is, I want a 3:1 space ratio */
    grid-template-rows: 1fr; /* I only need one row for this grid */
  }
    
  nav {
    background-color: #000;
    padding: .5em;
    position: sticky; /* This is how you make the nav bar stick to the top, it's a type of position */
    top: 0px;
  }
    
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex; /* This is how you get the links to space evenly, see li for more info */
  }
  
  nav li {
    flex-grow: 1; /* If all items have flex-grow set to 1, the remaining space in the container will be distributed equally to all children */
    text-align: center; /* Puts the text in the center, helps with spacing the flex box. Otherwise it'll be evenly spaced but not centered */
    justify-content: space-evenly; /* defines alignment within the flex box */
  }
    
  nav a {
    color: #fff;
    text-decoration: none;
    padding: .5em 1em;
  }
    
  .photos {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid; /* this grid fits within the previously defined 1-unit grid section from .grid */
    grid-template-columns: 1fr 1fr; /* evenly sized, two columns */
    gap: 1px; /* this is that 1px margin that you need, the gap btwn grid columns & rows */
  }
  
  .feature {
      width: 200px;
      float: left;
      margin-right: 1.5em;
      margin-bottom: 0.8em;
  }
  
  article {
    grid-column: 1;
  }

  aside {
    grid-column: 2;
  }

  @media (max-width: 500px) {

    .grid {
      display: flex;
      flex-direction: column;
    }
    
    nav ul {
      flex-direction: column;
      align-items: center;
    }

    .photos {
      grid-template-columns: 1fr;
      gap: 10px;
    }
  
  }