body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    background-color: #8278b8;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    position: sticky;
    top: 0vw;

    color: white;
    background-color: #443d97;
    text-align: center;
    grid-column: 1 / span 2;
    padding: 1vw;
}

.fakenav {
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}

.fakenav a {
    flex-grow: 1;
    color: white;
    text-decoration: none;
    background-color: #443d97;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: background-color 0.5s;
}

.fakenav a:hover {
    background-color: #8278b8;
}

h1 {
    font-size: 2.5vw;
    line-height: 80%;
}

.griddy {
    margin: 1vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1vw;
}

.event {
    background-color: #dcd9ed;
    padding-top: 0;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 1vw;
    border-radius: 2vw;
}

.event h2 {
    font-size: 2vw;
    text-align: center;
    line-height: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
}

.event p {
    font-size: 1vw;
}

.date {
    text-align: center;
    font-style: italic;
    margin-top: 0.6vw;
    margin-bottom: 0.6vw;
    font-size: 1.2vw;
}

#intro h2 {
    text-align: center;
    line-height: 100%;
}

#intro {
    text-align: justify;
}

.abouty {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.abouty a {
    margin: 2vw;
    background-color: #443d97;
    padding: 1.3vw;
    color: white;
    text-decoration: none;
    font-size: 1.3vw;
    transition: background-color 0.5s;
    border-style: solid;
    border-width: 0.2vw;
    border-color: white;
}

.abouty a:hover {
    background-color: #8278b8;
}

.paragraphy {
    text-align: justify;
}

.details {
    display: flex;
    flex-direction: row;
    color: white;
    margin-top: 2vw;
}

.featured {
    flex-basis: 100%;
    background-color: #8278b8;
    margin-right: 0.5vw;
    padding: 0.6vw;

    border-style: solid;
    border-color: white;
    border-width: 0.2vw;
}

.repertoire {
    flex-basis: 100%;
    background-color: #8278b8;
    margin-left: 0.5vw;
    padding: 0.6vw;

    border-style: solid;
    border-color: white;
    border-width: 0.2vw;
}

.details h3 {
    padding-top: 0;
    margin-top: 0;
    text-align: center;
}

.details p {
    margin: 0.3vw;
    font-size: 1vw;
}

.tickets {
    display: flex;
    margin: 2vw;
}

.tickets a {
    padding: 0.6vw;

    background-color: #443d97;
    color: white;

    text-decoration: none;
    font-size: 1.3vw;
    text-align: center;

    transition: background-color 0.5s;

    border-style: solid;
    border-width: 0.2vw;
    border-color: white;

    flex-grow: 1;
}

.tickets a:hover {
    background-color: #8278b8;
}

@media (max-width: 400px) {

    .griddy {
        display: grid;
        grid-template-columns: 1fr;
    }

    .event {
        border-radius: 2vw;
        padding: 2vw;
        margin: 2vw;
    }

    .event p {
        font-size: 3vw;
    }

    .event h2 {
        font-size: 5vw;
    }

    .header h1 {
        font-size: 4.5vw;
    }

    #intro h2 {
        font-size: 3.5vw;
    }

    .date {
        font-size: 3vw;
    }

    .abouty a {
        font-size: 3.5vw;
        padding: 3vw;
        border-width: 1vw;
    }

    .details {
        flex-direction: column;
        margin: 0;
    }

    .details h3 {
        font-size: 3.5vw;
        margin-bottom: 0;
    }

    .featured, .repertoire {
        padding: 1.5vw;
        margin: 0;
        margin-top: 2vw;
        border-width: 1vw;
    }

    .tickets {
        margin: 2vw 0;
    }

    .tickets a {
        font-size: 3.5vw;
        padding: 3vw;
        border-width: 1vw;
    }
}

