/* PASSWORD: indulge */

/* Colors:
- Dark grey: 373E40
- Dark blue/green: 305252
- Medium blue: 488286
- Medium grey: 77878B
- Light blue: B7D5D4 */

body {
    /* margin: 0; */
}

p {
    color: #488286;
    padding: 200px;
}

.myname {
    color: red;
    font-family:'Verdana';
}

a:visited {
    color: pink;
}